{{extend 'layout.html'}}
{{ if len(request.args) > 0: }}
	<h1>{{=T('Edit page')}}</h1>
{{ else: }}
	<h1>{{=T('Add a new page')}}</h1>
{{ pass }}
<div>
	<ul class="nav nav-pills">
		<li id="simple_view" class="active">
			<a href="#">{{=T('Simplified view')}}</a>
		</li>
		<li id="advanced_view" >
			<a href="#">{{=T('Advanced view')}}</a>
		</li>
	</ul>
</div>
{{=form}}
{{ if len(request.args) > 0: }}
	<script type="text/javascript" src="{{=URL('static', 'nicEdit/nicEditComplete.js')}}"></script>
	<script>jQuery('#page_content').css('width','600px').css('height','50px');</script>
{{pass}}
<script>
	jQuery(document).ready(function(){
		var wysiwygfield = new nicEditor({
			iconsPath :"{{=URL('static', 'nicEdit/nicEditorIcons.gif')}}",
			buttonList : ['bold','italic','underline','strikeThrough','left', 'center',
				'right', 'justify', 'ol', 'ul', 'fontSize', 'fontFormat', 'indent', 'outdent', 'link', 'upload'],
			uploadURI : "{{=URL('images', 'nicedit_image_upload', args=request.args(0))}}",
		})
		wysiwygfield.panelInstance("page_content");
		jQuery('#wysiwyg_management').hide();
		{{for field in advanced_fields:}}
			jQuery('#{{=field}}').hide();
		{{pass}}
		
		if (!jQuery('#page_left_sidebar_enabled').attr('checked'))
			jQuery('#page_left_sidebar_component__row').hide();
		if (!jQuery('#page_right_sidebar_enabled').attr('checked'))
			jQuery('#page_right_sidebar_component__row').hide();
		jQuery('#page_left_sidebar_enabled').change(function(){
			if(jQuery('#page_left_sidebar_enabled').attr('checked'))
				jQuery('#page_left_sidebar_component__row').show();
			else jQuery('#page_left_sidebar_component__row').hide();});
		jQuery('#page_right_sidebar_enabled').change(function(){
			if(jQuery('#page_right_sidebar_enabled').attr('checked'))
				jQuery('#page_right_sidebar_component__row').show();
			else jQuery('#page_right_sidebar_component__row').hide();});
		jQuery('#simple_view').click(function(){
			jQuery('#simple_view').attr('class','active');
			jQuery('#advanced_view').attr('class','inactive');
			jQuery('#wysiwyg_management').hide();
			{{for field in advanced_fields:}}
				jQuery('#{{=field}}').hide();
			{{pass}}
			});
		jQuery('#advanced_view').click(function(){
			jQuery('#advanced_view').attr('class','active');
			jQuery('#simple_view').attr('class','inactive');
			jQuery('#wysiwyg_management').show();
			{{for field in advanced_fields:}}
				jQuery('#{{=field}}').show();
			{{pass}}
			});
		jQuery('#activate_wysiwyg').click(function(){
			jQuery('#activate_wysiwyg').attr('class','active');
			jQuery('#remove_wysiwyg').attr('class','inactive');
			wysiwygfield.panelInstance("page_content");});
		jQuery('#remove_wysiwyg').click(function(){
			jQuery('#activate_wysiwyg').attr('class','inactive');
			jQuery('#remove_wysiwyg').attr('class','active');
			wysiwygfield.removeInstance("page_content");});
		jQuery('input[type=submit]').click(function(){
			wysiwygfield.panelInstance("page_content");});
	});
</script>