{{extend 'layout.html'}}

{{block left_sidebar}}
<!-- Photo gallery -->
	<div class="hidden-phone">
		{{if left_sidebar_component:}}
			{{=LOAD(left_sidebar_component.controller, left_sidebar_component.name, ajax=left_sidebar_component.ajax,
			ajax_trap=left_sidebar_component.ajax_trap, vars={'container_id':page.id})}}
		{{pass}}
	</div>
{{end}}

{{block right_sidebar}}
	<!-- latest news -->
	{{if right_sidebar_component:}}
		{{=LOAD(right_sidebar_component.controller, right_sidebar_component.name, ajax=right_sidebar_component.ajax,
		ajax_trap=right_sidebar_component.ajax_trap, vars={'container_id':page.id})}}
	{{pass}}
{{end}}

{{if page:}}
<article>
	{{if auth.has_membership('manager'):}}
		{{=manager_toolbar()}}
		{{=manager_toolbar(page.id)}}
	{{ pass }}
	<h3>{{=page.subtitle}}</h3>
	<div>{{=XML(page.content, sanitize=False)}}</div>
</article>
{{pass}}

{{block footer}}
	<!-- Contact -->
	<div class="container">
		<div class="contact pull-left">
			{{=LOAD('default', 'address.load', ajax=False)}}
		</div>

		<!-- Newsletter -->
		<div class="newsletter pull-right">
			{{=LOAD('default', 'newsletter.load', ajax_trap=True)}}
		</div>
	</div>
{{end}}

